.error-modal{  
    display:block;
    position: fixed;
    z-index: 2;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    flex-direction:column;
    text-align:center;
    align-items:center;
    justify-content:center;
    border-radius:3px;
    margin:1rem;
    justify-content:center;
    align-items: center;
    color:red;
    font-size:15px;
    background: rgba(66, 44, 44, 0.4);
}
.error-panel{
    width:20em;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    padding:1rem;
    margin:auto;
    margin-top:20%;
    color:rgb(216, 13, 30);
    border-radius:6px;
    border:1px solid;
    border-color:rgb(6, 109, 109);
    background-color: rgb(228, 206, 206);
}
.close{
    margin:0.5rem;
    font-size:1.5rem;
}
.close:hover{
    color:rgb(145, 0, 17);
    cursor:pointer;  
}

@media(max-width:750px){
    .error-modal{  
      margin:0;
      padding:0;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    .error-panel{
        width:18em;
        height:1.5rem;
    }
}